@use "./Reponsive.scss" as Reponsive;
.auth-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    &__body {
        display: flex;
        flex-direction: column;
    }
    &__header {
        font-size: 4rem;
        font-family: "Poppins", sans-serif;
        margin-bottom: 20px;
        text-align: center;
    }

    & form {
        width: 400px;
        & .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            &-pw {
                position: relative;
                & span {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 10px;
                    cursor: pointer;
                    user-select: none;
                    font-size: 12px;
                }
            }

            & label {
                font-size: 1.5rem;
                font-weight: 500;
                text-transform: capitalize;
                color: var(--color-black-2);
                margin-bottom: 6px;
                display: block;
            }
            & input {
               @include inputStyle
            }
        }
        & .btn-primary {
            margin-left: auto;
            width: 100%;
        }
        & .fg-password {
            font-size: 1.5rem;
            color: var(--color-primary);
        }
    }
    &__forgot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 1.5rem;
        & a {
            color: crimson;
        }
        & span {
            cursor: pointer;
        }
    }

    &__indicator {
        width: 100%;
        height: 5px;
        margin: 40px 0px;
        position: relative;
        & p {
            font-size: 1.5rem;
            color: var(--color-text-gray);
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            background-color: #fff;
            width: 30px;
            text-align: center;
            line-height: 1rem;
            z-index: 9;
        }
        &:after {
            content: "";
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            width: 100%;
            left: 50%;
            height: 1px;
            background-color: rgb(235, 232, 232);
        }
    }

    & .social-login {
        & .google-button {
            width: 100% !important;
            & span {
                font-size: 1.5rem !important;
            }
        }
        & .kep-login-facebook.metro {
            font-family: "Fira Sans", sans-serif !important;
            text-transform: capitalize;
            font-size: 1.5rem;
            font-weight: 500;
            height: 42px;
            margin-top: 20px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0;
            & i.fa.fa-facebook {
                padding: 10px;
                font-size: 2rem;
                margin-right: 10px;
                width: 38px;
                height: 42px;
            }
        }
    }

    // Reponsive
    @include Reponsive.MediaQuery(MD) {
        // Ipad
        &.mr-top-header {
            margin-top: -80px !important;
        }

        &__body {
            width: 600px;
        }

        & form {
            width: 100%;
        }
    }

    @include Reponsive.MediaQuery(SM) {
        &.mr-top-header {
            margin-top: -50px !important;
        }
        &__body {
            padding: 0px 45px 0px;
        }
    }

    @include Reponsive.MediaQuery(VXS) {
        &__body {
            padding: 0px 45px 0px;
        }
    }
}
