.home {
    &__banner {
        background-image: url("../images/banner.jpg");
        background-position: center center;
        background-size: cover;
        padding: 90px 0px;
        width: 100%;
        min-height: 870px;
        overflow: hidden;
        position: relative;
        & h2 {
            font-size: 1.5rem;
            color: var(--color-black-2);
            letter-spacing: 2px;
            font-weight: 500;
            margin-bottom: 30px;
            &::after {
                content: "";
                width: 80px;
                height: 1px;
                background: rgb(41, 41, 41);
                display: block;
                margin-top: 8px;
            }
        }
        &-feature-post {
            position: absolute;
            width: 470px;
            padding: 45px;
            background: var(--color-white);
            border-radius: 6px;
            overflow: hidden;
            top: 50%;
            left: 26%;
            transform: translate(-50%, -50%);

            & .feature-post__list {
                display: flex;
                flex-direction: column;
                &-item {
                    display: flex;
                    align-items: center;
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                    & .item__infor {
                        margin-left: 15px;
                        & a {
                            font-size: 1.8rem;
                            font-weight: 700;
                            color: var(--color-black-2);
                            transition: all 0.15s linear;
                            margin-bottom: 10px;
                            display: block;
                            &:hover {
                                color: var(--color-primary);
                            }
                        }
                        &-category {
                            display: flex;
                            & li {
                                margin-right: 10px;
                                & a {
                                    font-size: 1.4rem;
                                    font-weight: 400;
                                    color: var(--color-primary);
                                }
                            }
                        }
                    }
                }
                & img {
                    width: 90px;
                    height: 90px;
                    object-fit: cover;
                }
            }
        }
    }
    &__blogs {
        padding: 90px 0px;
        width: 100%;
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    //  Phone
    @include MediaQuery(SM) {
        &__banner {
            &-feature-post {
                top: 50%;
                left: 50%;
                width: 300px;
                & .feature-post__list {
                    display: flex;
                    flex-direction: column;
                    &-item {
                        & .item__infor {
                            & a {
                                font-size: 1.5rem;
                            }
                            &-category {
                                display: flex;
                                width: 100%;
                                flex-wrap: wrap;
                                & li {
                                    & a {
                                        font-size: 1.3rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        & .container {
            width: 100%;
        }
    }
    @include MediaQuery(XL) {
        & .container {
            width: 100%;
        }
    }

    // Ipad
    @include MediaQuery(MD) {
        &__banner {
            &-feature-post {
                top: 50%;
                left: 50%;
                width: 350px;
            }
        }
        & .container {
            width: 100%;
        }
    }
}
