
// Utils
@import "./mixin.sass" ;
@import "./reponsive.scss";

// Base
@import "./base";
@import "./typography.scss";
@import "./utils";
// Component
@import "./NotFound";
@import "./Header";
@import "./Search";
@import "./Auth";
@import "./Alert";
@import "./Profile.scss";
@import "./Category.scss";
@import "./CreateBlog.scss";
@import "./Home.scss";
@import "./CardBlog.scss";
@import "./Footer.scss";

:root {
    --header-height: 95px;
    --color-primary: rgb(247, 59, 152);
    --color-primary-light:rgb(247, 100, 173);


    --color-black: #000;
    --color-black-2: #292929;

    --color-white: #fff;

    --color-text-gray: rgb(117, 117, 117);

    --color-success: #28a745;
    --color-error: #dc3545;
}

/* [data-theme='dark']{

} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

body {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    padding-top: var(--header-height);
}
