@use "./Reponsive.scss" as Reponsive;
.search {
    width: 100vw;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    background-color: rgb(250, 250, 250);

    .header.stiky {
        & .search {
            position: absolute;
            top: 0;
        }
    }

    & .container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &.active {
        height: 150px;
        opacity: 1;
        visibility: visible;
    }
    & form {
        flex: 1;
        & input {
            width: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 2.1rem;
            color: var(--color-black-2);
            &:focus {
                border: none;
                outline: none;
            }
        }
    }
    & i {
        margin-left: 5px;
        font-size: 3.5rem;
        cursor: pointer;
        color: var(--color-text-gray);
    }

    // Reponsive
    @include Reponsive.MediaQuery(MD) {
        // Ipad
        & .container {
            width: 100%;
            padding: 0 45px;
        }
    }

    @include Reponsive.MediaQuery(SM) {
        // Moblie
        & .container {
            padding: 0 30px;
        }
    }
}
